body{
    font-family: Roboto;
    /* font-weight: 500; */
    font-size: 12px;
}

.dd{
    margin-top: 90px;
    min-width: 15em;
    position: relative;

}

.dd *{
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}