.theHeader{
    background-color: rgb(19, 26, 34);
    height: 60px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    justify-content: space-between;
}

.left{
    display: flex;
}

.nav-button{
    background-color: rgb(19, 26, 34);
    border: solid;
    border-color: rgb(19, 26, 34);
    border-width: 1px;
    margin-top: 5px;
    margin-left: 13px;
    height: 50px;
    border-radius: 2px;
    padding-top: 11.5px;
}

.nav-button:hover{
    border-color: white;
    cursor: pointer;
}

.amazonlogo{
    height: 36px;
    width: 97px;
    margin-right: 2px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -4px; */
}

.Loc{
    background-color: rgb(19, 26, 34);
    border: solid;
    border-color: rgb(19, 26, 34);
    border-width: 1px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 2px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}

.Loc:hover{
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}

.Deliver-to{
    color: #ccc;
}

.Philippines{
    font-family: Roboto;
    font-weight: 700;
    color: white;  
    font-size: 14px;
}

.locicon{
    height: 23px;
    width: 18px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.loctext{
    padding-left: 11px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: -5px;
}

.picsection{
    width: 15px;
}

.Language{
    height: 20px;
    width: 30px;
}

.search-button{
    background-color: rgb(254, 189, 105);
    height: 38px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}


.Search-bar{
    height: 38px;
}

.search-img{
    height: 20px;
    width: 15px;
}

.drops{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0! important;
}

.testdrops{
    background-color: yellow;
}